@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Poppins:wght@400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
    --bg-color:hsl(0, 100%, 74%);
    --btn-color: hsl(154, 59%, 51%);
    --bdr-color:hsl(246, 25%, 77%);
    --hdr-bg-color:hsl(248, 32%, 49%);
    --font-primary: "Poppins", sans-serif;
  
  }
  body{
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--font-primary);
  }
  /* The texts on the left section  */
  .cont-left{
    display: flex;
    justify-content: center;
    color:aliceblue;
  }
  .cont-left div{
    margin: 16em  4em 0 0;
  }
  .txt-lg{
    line-height: 1em;
    margin-bottom: 0.6em;
    font-size: 3em;
  }
  /* The for section on the right  */
.cont-right{
  display: flex;
  align-items: center;
}



/* The blue header on the form section  */
.header{
  background-color: hsl(248, 32%, 49%);
  margin-top: 4em;
  margin-left: 2em;
  text-align: center;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 1px 7px 2px 1px rgba(0, 0, 0, 0.2);

}
span {
  font-weight: 600;
}
form {
  margin-top: 1em;
  margin-left: 2em;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 1px 7px 2px 1px rgba(0, 0, 0, 0.2);

}
/* Form inputs  */
input {
  display: block;
  width: 100%;
  padding: 1em 3em;
  border: 0.5px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  font-weight: 750;
}
/* The input container  */
.input-section{
  margin-bottom: 10px;
  margin-bottom: 20px;
  padding: 7px;
  position: relative;
}
/* The error icon  */
.input-section img{
  position: absolute;
  top: 17px;
  right: 10px;
  visibility: hidden;
}
.input-section small{
  position:absolute;
  left:18.5em;
  visibility: hidden;
}
.input-section.error input{
  border-color: var(--bg-color);
  color:var(--bg-color);

}

.input-section.error img{
  visibility: visible;
}
.input-section.error small{
  visibility: visible;
  color: var(--bg-color);
}
/* The  green button in the form section  */
button {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  padding: 1.5em 3em 1.5em 3em;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
button:hover{
  opacity: 0.7;
  cursor: pointer;
}
/* The sentence  below the green button  */
.terms {
  font-size: 12px;
  text-align: center;
  margin: 20px;
  color: hsl(246, 25%, 77%);
}
/* The links in the form section  */
a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
@media screen and (max-width: 475px) {
  body{
    display: flex;
    flex-direction: column;
  }

  .cont-left div{
    max-width: 100%;
    padding: 2em;
    font-size: 0.8em;
    text-align: center;
    margin: auto ;
  }

  .cont-right div{          
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  .cont-right form{
    margin: 20px 10px;;
  }
  
}

